<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Braintree Store - <%= controller.controller_name %> - <%= controller.action_name %></title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><%= link_to "Braintree Store", "/" %></h1>
        <div id="mini-nav">
          <% unless logged_in? -%>
            <%= link_to "signup", signup_path %> |
            <%= link_to "login", login_path %>
          <% else -%>
            Welcome, <%= current_user.login %> |
            <%= link_to "Your Cart (#{cart_item_count})", cart_path %> |
            <% if current_user.orders.any? -%>
              <%= link_to "Your Orders", orders_path %> | 
            <% end -%>
            <%= link_to "logout", logout_path %>
          <% end -%>
        </div>
      </div><!-- end of header -->
      <div id="container">
        <div id="content">
          <%= flash_div :notice, :error %>
          <%= @content_for_layout %>
        </div><!-- end of content -->
      </div><!-- end of container -->
      <div id="footer">
        Braintree Payment Solutions
      </div>
    </div>
  </body>
</html>
